@model IEnumerable<WebApplicacion.Models.Employee>

@{
    ViewBag.Title = "Index";
}


<br />
<br />
<h2>List of Employees from Web Api</h2>
<br />
<br />

@using (Html.BeginForm("Index", "Employee", FormMethod.Post))
{
    <p>
        <div class="form-inline">
            @Html.Label("lblID", "Please type the Employee ID:  ")
            <input type="text" name="idEmployee" maxlength="6" onkeypress="return isNumberKey(event)" />
            <input type="submit" class="btn-primary"/>
        </div>
    </p>
}
<br />
<br />

@if (Model != null)
{
    if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4"><h3>No rows match search criteria</h3></td>
        </tr>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.contractTypeName)
                    </th>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.roleId)
                    </th>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.roleName)
                    </th>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.roleDescription)
                    </th>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.hourlySalary)
                    </th>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.monthlySalary)
                    </th>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.anualSalary)
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>

                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.name)
                        </th>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.contractTypeName)
                        </th>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.roleId)
                        </th>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.roleName)
                        </th>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.roleDescription)
                        </th>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.hourlySalary)
                        </th>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.monthlySalary)
                        </th>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.anualSalary)
                        </th>
                    </tr>
                </tbody>
            }
        </table>
    }
}

@section Scripts {
<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

}
